﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Exam20202</title>
    <link rel="stylesheet" href="~/css/ipack.css" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="/js/ipack.dll.js"></script>
    <script src="/js/ipack.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
