﻿<template>
    <div>
        <div v-if="isAddPencucian === false">
            <button class="btn btn-primary" type="button" @click="addNewPencucian">Add New Pencucian</button>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id Pencucian</th>
                        <th scope="col">Nama Pembantu</th>
                        <th scope="col">Jenis Piring</th>
                        <th scope="col">Tanggal Pencucian</th>
                        <th scope="col">Total Pencucian</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="(pencucian,index) in  pencucianView" :key="index">
                        <td>{{pencucian.IdPencucian}}</td>
                        <td>{{pencucian.NamaPembantu}}</td>
                        <td>{{pencucian.JenisPiring}}</td>
                        <td>{{pencucian.TanggalPencucian}}</td>
                        <td>{{pencucian.TotalPencucian}}</td>
                        <td>
                            <a :href="'/Pencucian/updatePencucian?IdPencucian='+Pencucian.IdPencucian" class="btn btn-warning">
                                <fa-icon icon="edit"></fa-icon>
                                Edit
                            </a>

                            <button class="btn btn-danger" @click="deletePencucian(Pencucian)">
                                <fa-icon icon="trash-alt"></fa-icon>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div v-if="isAddPencucian === true">
            <validation-observer ref="observer" v-slot="{validate,valid}">
                <form method="post" @submit.prevent="insertPencucian">
                    <label class="col-form-label">ID Pembantu</label>
                    <validation-provider name="ID Pembantu" rules="required" v-slot="{errors}">
                        <input class="form-control" type="number" v-model="newPencucian.IdPembantu" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">ID Piring</label>
                    <validation-provider name="ID Piring" rules="required" v-slot="{errors}">
                        <input class="form-control" type="number" v-model="newPencucian.IdPencucian" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Tipe Pencucian</label>
                    <validation-provider name="Tipe Pencucian" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newPencucian.TipePencucian" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Tanggal Pencucian</label>
                    <validation-provider name="Tanggal Pencucian" rules="required" v-slot="{errors}">
                        <input class="form-control" type="datetime" v-model="newPencucian.TanggalPencucian" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Total Pencucian</label>
                    <validation-provider name="Total Pencucian" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newPencucian.TotalPencucian" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />
                    <button class="btn btn-primary" type="submit">
                        <fa-icon icon="check"></fa-icon>
                        Submit
                    </button>
                </form>
            </validation-observer>
        </div>


    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { TranService, PencucianModel } from '../service/NSwagService';
    import swal from 'sweetalert2';
    import { ValidationObserver } from 'vee-validate';

    @Component({
        created: async function (this: ListPencucian) {
            await this.getPencucian();
        }
    })

    export default class ListPencucian extends Vue {
        service: TranService = new TranService();
        pencucianView: PencucianModel[] = [];

        newPencucian: PencucianModel = {
            idPembantu: 0,
            idPiring: 0,
            tipePencucian: '',
            tanggalPencucian: '',
            totalPencucian: 0
        }

        async getPencucian(): Promise<void> {
            this.pencucianView = await this.service.getAll();
        }

        isAddPencucian = false;

        addNewPencucian(): void {
            this.isAddPencucian = true;
            return;
        }

        async insertPencucian(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();

            if (valid == false) {
                return;
            }

            await this.service.insertPencucian(this.newPencucian);

            swal.fire({
                title: 'Yeayy!',
                icon: 'success',
                text: 'Success insert new data Pencucian.'
            });

            await this.getPencucian();
            this.isAddPencucian = false;
        }

        async deletePencucian(IdPencucian): Promise<void> {
            swal.fire({
                title: 'Are you sure?',
                text: "Delete this data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then(async (result) => {
                if (result.value) {

                    await this.service.deletePencucian(IdPencucian);
                    await this.service.getAll();
                    swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    ).then(async (result) => { window.location.href = '/Pencucian/index' })

                }
            })
        }

    }
</script>
