﻿<template>
    <div>
        <validation-observer ref="observer" v-slot="{validate,valid}">
            <form method="post" @submit.prevent="insertPencucian">
                <label class="col-form-label">ID Pembantu</label>
                <validation-provider name="ID Pembantu" rules="required" v-slot="{errors}">
                    <input class="form-control" type="number" v-model="newPencucian.IdPembantu" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label class="col-form-label">ID Piring</label>
                <validation-provider name="ID Piring" rules="required" v-slot="{errors}">
                    <input class="form-control" type="number" v-model="newPencucian.IdPencucian" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label class="col-form-label">Tipe Pencucian</label>
                <validation-provider name="Tipe Pencucian" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newPencucian.TipePencucian" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label class="col-form-label">Tanggal Pencucian</label>
                <validation-provider name="Tanggal Pencucian" rules="required" v-slot="{errors}">
                    <input class="form-control" type="datetime" v-model="newPencucian.TanggalPencucian" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label class="col-form-label">Total Pencucian</label>
                <validation-provider name="Total Pencucian" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newPencucian.TotalPencucian" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />
                <button class="btn btn-primary" type="submit">
                    <fa-icon icon="check"></fa-icon>
                    Submit
                </button>
            </form>
        </validation-observer>
    </div>
</template>


<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { TranService, PencucianModel } from '../service/NSwagService';
    import swal from 'sweetalert2';
    import { ValidationObserver } from 'vee-validate';

    @Component({
        created: async function (this: UpdatePencucian) {
            await this.getSpecificTransaction();
        }
    })
    export default class UpdatePencucian extends Vue {
        service: TranService = new TranService();
        pencucianView: PencucianModel[] = [];

        newPencucian: PencucianModel = {
            idPembantu: 0,
            idPiring: 0,
            tipePencucian: '',
            tanggalPencucian: '',
            totalPencucian: 0
        }

        async getSpecificTransaction(): Promise<void> {
            const urlParams = new URLSearchParams(window.location.search);
            const IdPencucian = urlParams.get('IdPencucian')?.valueOf();
            if (IdPencucian != null) {
                this.newPencucian = await this.service.getSpecificPencucian(parseInt(IdPencucian));
            }
        }

        async updatePencucian(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }
            swal.fire({
                title: 'Are you sure?',
                text: "Update this data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then(async (result) => {
                if (result.value) {

                    await this.service.updatePencucian(this.newPencucian);
                    swal.fire(
                        'Updated!',
                        'Your file has been updated.',
                        'success'
                    ).then(async (result) => { window.location.href = '/Pencucian/index' })
                }
            })
        }

    }
</script>
